PORT = 8000

# Jwt secret key
JWT_SECRET_KEY = "THIS IS THE JWT SECRET KEY THIS IS VERY VERY IMPORTANT KEY FOR THIS APPLICATION PLEASE KEEP IT SECRET AND DO NOT SHARE IT WITH SOMEONE ELSE"
JWT_EXPIRATION_TIME = '1h'

DB_USERNAME = "postgres"
DB_PASSWORD = "12345678"
DB_HOST = "127.0.0.1"
DB_DIALECT = "postgres"
DB_PORT = "5432"
DB_DATABASE = "carrento"